@use 'variables' as*;

/* Contacts Page */

.contact-form{

    .inputArea{
        align-items: center;
        background: #0101f725;
        border-radius: 20px;
        flex-direction: column;
        gap: 2rem;
        max-width: 400px;
        margin: 1rem auto;
        margin-top: 3rem;
        padding: 2rem;
        padding-bottom: 0;
        position: relative;

        div#responseMessage{
            height: 4rem;
            width: 100%;
            transform: translateY(-1rem);
        }
    }

    .input{
        position: relative;
        width: 100%;

        input, textarea{
            width: 100%;
            background: $main-nav-bg;
            outline: 0;
            border: 2px solid transparent;
            border-radius: 20px;
            padding: 14px 20px;
            color: $color-white;
            font-size: 16px;

            &::placeholder{
                color: transparent;
            }

            &:focus {
                border-color: $main-nav-bg;
                background: transparent;
            }
            /* Label moves up on focus or valid input */
            &:focus + label, &:not(:placeholder-shown) + label{
                transform: translate(1.5rem, -150%) scale(.8);
                background: $main-nav-bg;
                padding: 0 1rem;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                outline: 0;
            }

            /* &:invalid{
                border: 2px solid red;
            } */
        }

        textarea{
            height: 160px;
            resize: none;
        }
    
        label{
            position: absolute;
            left: 0;
            top: 14px;
            transform: translateY(0);
            transform-origin: left top;
            color: $color-white;
            background: transparent;
            pointer-events: none;
            outline: 0;
            transition: .3s ease-in-out;
            padding: 0 1rem;
            height: 20px;
            line-height: 20px;
        }   
    }

    input[type='submit']{
        border-radius: 20px;
        border: 0;
        outline: 0;
        height: 3rem;
        width: 100%;
        background: $main-nav-bg;
        color: $color-white;
        font-weight: 900;
        font-size: 16px;
        cursor: pointer;
    }
}

// Social Media Icons
.socials{
    width: 250px;
    height: 50px;
    margin: 3rem auto 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .tooltip {
        position: relative;
        display: inline-block;

        &-text {
            visibility: hidden;
            opacity: 0;
            width: fit-content;
            background-color: $color-white;
            color: #000;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .3s;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border-style: solid;
                border-width: 10px;
                border-color: #fff transparent transparent transparent;
            }
        }

    }

    i.fab{
        cursor: pointer;
        background: $color-white;
        width: 40px;
        height: 40px;
        padding: 1.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.fa-whatsapp{
            color: rgb(12, 221, 12);
            transition: all 1s ease;

            &:hover{
                background: rgb(12, 221, 12);
            }
        }

        &.fa-facebook-f{
            color: rgb(0, 51, 216);
            transition: all 1s ease;

            &:hover{
                background: rgb(0, 51, 216);
            }
        }

        &.fa-tiktok{
            color: #000;
            transition: all 1s ease;

            &:hover{
                background: #000;
            }
        }

        &:hover{
            color: $color-white;
        
            +.tooltip-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
