@use 'variables' as *;

// Top Nav

.main-nav{
    background: $main-nav-bg;
    z-index: 1;
    padding-bottom: 1rem;
    // height: 7rem;

    .wrapper{
        // justify-content: space-between;
        // align-items: center;
        
        &.logo-menu{
            display: flex;
            justify-content: space-between;
            position: relative;

            .logo {
                font-size: 1.4rem;
                width: 30vw;

                a{
                    letter-spacing: .2rem;

                    span{
                        word-break: keep-all;
                        font-size: .7rem;
                        color: #fff;
                        display: none;
                    }
                }

                img{
                    width: 20%;
                    margin: .6rem;
                }   
            }

            .menu {
                align-self: baseline;
    
                li {
                    transition: all 1s ease-in-out;
                    // color: cr;
                    // margin: 0.1rem;
    
                    &.menu-item a.active{
                        background-color: white;
                        color: $main-nav-bg;
                        font-weight: bold;
                    }
                    
                    &:hover a {
                        color: $main-nav-bg;
                        background-color: #fff;
                    }
    
                    a{
                        color: $color-white;
                        outline: 0;
                        display: block;
                        padding: .5rem 1rem;
            
                        &:active{
                            outline: 0;
                        }
    
                        i{
                            margin-right: 6px;
                            align-self: center;
                            transform: translateY(10px);
                            transition: transform 1s ease-in-out;
                            // display: none;
                        }
    
                        span{
                            transform: translateY(20px);
                            opacity: 0;
                            transition: all 1s ease-in-out;
                            
                        }
                    }

                    &.menu-item .more{
                        background: $main-nav-bg;
                        color: $color-white;
                        height: fit-content;
                        width: calc(100% + 14px);
                        margin-left: -7px;
                        display: none;
    
                        li:hover{
                            background-color: $color-white;
                            color: $main-nav-bg;
                            cursor: pointer;
                        }
                    }
    
                    &.dropdown:hover .more{
                        display: block;
                    }
                }
            }
        }

    }   
    
    
    .block-menu-toggler{
        display: none;
    }
}
// .categories{
//     display: grid;
//     grid-template-columns: 1fr 12fr 1fr;
//     gap: 20px;
//     align-items: center;
//     margin-top: 1rem;

//     .dropdown{
//         display: block;
//         width: 130px;
//         text-align: center;
//         background: $color-white;
//         border-radius: 3px;

//         select{
//             outline: none;
//             border: none;
//             padding: 7px 10px 7px 0px;
//             color: $main-nav-bg;
//             font-size: 16px;
//             cursor: pointer;

//             &:hover{
//                 color: $body-bg;
//             }
//         }
//     }


//     i.fa{
//         color: $main-nav-bg;
//     }

//     // Search Bar
//     .search{
//         width: 100%;
//         position: relative;
//         margin: 0 auto;
//         max-width: 500px;
//         border-radius: 45px;
//         align-items: center;
//         justify-content: space-between;
//         background-color: rgb(208, 208, 208);
//         display: flex;

//         input{
//             /* max-width: 460px; */
//             width: 100%;
//             padding: 10px 15px;
//             border: none;
//             outline: none;
//             font-size: 16px;
//             border-radius: 45px;
//             border-top-right-radius: 0;
//             border-bottom-right-radius: 0;
//             margin-right: 2.5rem;
//         }

//         .fa-magnifying-glass{
//             position: absolute;
//             right: 0;
//             /* margin-left: 1rem; */
//             text-align: center;
//             cursor: pointer;
//             transform: translateX(-15px);
//         }


//         #search_results{
//             position: absolute;
//             top: 100%;
//             left: 0;
//             right: 0;
//             color: $color-danger;
//             background-color: #fff;
//             z-index: 100;
//             max-height: 200px;
//             overflow-y: auto;

//             div{
//                 padding: 8px 12px;
//                 cursor: pointer;

//                 &:hover{
//                     background-color: #f0f0f0;
//                 }
//             }
//         }
//     }

//     // Cart Toggler
//     .cart{
//         display: flex;
//         background: $color-white;
//         justify-content: space-between;
//         align-items: center;
//         padding: 7px 10px;
//         width: 80px;
//         font-size: 16px;
//         border-radius: 3px;
//         border: none;
//         cursor: pointer;

//         p{
//             height: 22px;
//             width: 22px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             border-radius: 50%;
//             background: $main-nav-bg;
//             color: $color-white;
//         }
//     }
// }