/* Modal styling */
.modal{
    display: none; /* Hidden by default*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7); /* Dark overlay */

    &-content{
        background-color: #e0d5d5;
        color: #000;
        margin: 10vh auto;
        padding: 20px;
        width: 80%;
        max-width: 400px;
        max-height: 80vh; /* Prevent overflow */
        text-align: center;
        border-radius: 1rem;
        position: relative;

        .close{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 2.2rem);
            font-size: 2rem;
            font-weight: bold;
            color: #aaa;
            background-color: inherit;
            padding: .1rem 1rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            cursor: pointer;
        
            &:hover{
                color: #000;
            }
        }
    }
}

