*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    border: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}