$main-nav-bg: rgb(0,0,255);
$mobile-nav-bg: rgb(12, 82, 82);
$body-bg: rgb(42, 137, 253);
$mobile-bg: rgba(12, 82, 82, 0.747);
$color-white: #fff;
$hover-bg: rgb(6, 211, 6);
$color-danger: red;
$color-success: rgb(0, 255, 0);
$font-family: Poppins, serif;
