@use 'partials/base' as *;
@use 'partials/reset' as *;
@use 'partials/products' as *;
@use 'partials/queries' as *;
@use 'partials/randomTip' as *;
@use 'partials/validation' as *;
@use 'partials/utilities' as *;
@use 'partials/contacts' as *;
@use 'partials/navbar' as *;
